[Desktop Entry]
Name=SAMURAI
Comment=
GenericName=
Keywords=SAMURAI; samurai; sam; tools; tool; s; sa;
Exec=sh /home/enot/.SAMURAI/test_int.sh 
Terminal=false
Type=Application
Icon=/home/enot/.SAMURAI/samurai_icom.png
Path=
Categories=
NoDisplay=false
